*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
}

body{
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 3rem;
	position: relative;
	box-sizing: border-box;
}

.header{
	height: 95vh;
    background-image:url(https://i.pinimg.com/564x/42/5c/a7/425ca7f264ad90e48a703f1e529e784d.jpg);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}

.header__main-box{
	position: absolute;
	top: 3rem;
	left: 3rem;
}

.header__main-img{
	height: 3.5rem;
}

.header__sub-box{
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.sub{
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3rem;
}

.sub--1{
	display: block;
	font-size: 6rem;
	font-weight: 40rem;
	letter-spacing: 3.1rem;
    animation: moveinleft 1s ease-out;

	/*
	animation-iteration-count: 1;
	animation-name: moveinleft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	*/

}

@keyframes moveinleft{
	0%{
       opacity: 0;
       transform: translateX(-10rem);
	}

	80%{
		transform: translateX(1rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);

	}
}

.sub--2{
	display: block;
	font-size: 2rem;
	font-weight: 40rem;
	letter-spacing: 1.5rem;
	animation: ease-in moveinright 1s;

}

@keyframes moveinright{
	0%{
       opacity: 0;
       transform: translateX(10rem);
	}

	80%{
		transform: translateX(-1rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);

	}
}


@keyframes moveinbottom{
	0%{
       opacity: 0;
       transform: translatey(3rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);

	}
}

.btn,.btn:link,.btn:visited{
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 1.5rem 4rem;
	border-radius: 2rem;
	transition: all.2s;
	position: relative;
	font-size: 2rem;
    font-weight: bold;
    border: none;

}

.btn:hover{
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
}

.btn:hover::after{
	transform: scalex(1.5) scaleY(1.6);
	opacity: 0;
}

.btn:active,.btn:focus{
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--white{
	color: gray;
	background-color: white;
}

.btn::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 2rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all.1s;

}

.btn-white::after{
	background-color: white;
}

.btn--animated{
	animation: moveinbottom .5s ease-out .75s;
	animation-fill-mode: backwards;

}

.section-head{
	background-image:linear-gradient(35deg,rgba(52,206,209,.2),rgba(221,237,237,.2));
	padding: 25rem 0;
	margin-top: -5vh;
	margin-bottom: 5rem;
}

.heading-secondary{
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	background-image: linear-gradient(to right,blue,red);
	-webkit-background-clip: text;
	color: transparent;
	transition: all .2s;
	letter-spacing: .2rem;
}

.heading-secondary:hover{
	transform: skewY(2deg) skewX(5deg) scale(1.1);
	text-shadow: .5rem 1rem 2rem rgba(0, 0, 100, .2);
}

.center-text{
	text-align: center;
	margin-top: -10rem;
	margin-bottom: 5rem;
}
.section-table{
	max-width: 114rem;
	display: flex;
	padding-top: 8rem;
}
.section-table-txt{flex: 50%;}
.heading-tertiary-1{margin-bottom: 1rem;}
.heading-tertiary{
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
} 
.txt{
	font-size: 1.8rem;
}
.txt:not(:last-child){margin-bottom: 3rem;}
.btn-txt:link, .btn-txt:visited{
	font-size: 1.6rem;
	color: lightgreen;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid lightgreen;
	padding: 3px;
	transition: all .2s;
}
.btn-txt:hover{
	background-image: linear-gradient(25deg,blue,red);
	color: white;
	font-size: 2rem;
	transform: translateY(-10px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
}
.btn-txt:active{
	transform: translateY(0px);
	box-shadow: 0 3rem 10rem rgba(0, 0, 0, 0.2);
}
.section{position: relative;}
.section__table{
	width: 40%;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, .4);
	border-radius: 1rem;
	position: absolute;	
	opacity: 1;
}
.section__table:hover{
	transition: all .4s;
	transform: scale(1.14);
	outline: 1px solid lightgreen;
	outline-offset: 1.5rem;
	z-index: 3;
}
.section__table--img1{
	left: 5rem;
	top: -2rem;
}
.section__table--img2{
	right: 5rem;
	top: -2rem;
}
.section__table--img3{
	left: 30%;
	top: 10rem;
}
.section-body{
	transform: skewY(-3deg);
	margin-top: -10rem;
	position: relative;
}
.section-subject{
	display: flex;
	flex-wrap: wrap;
    background-image: linear-gradient(20deg,rgba(131,235,52,1),rgba(136,255,46,1));
}
.section-object{
	flex: 15%;
	flex-wrap: wrap;
	width: 100%;
	margin: 15rem 5rem;
}
.section__object--table{
	background-color: ghostwhite;
	opacity: 0.8;
	padding: 1.5rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	text-align: center;
	transform: skewY(3deg);
}
.section__object--table:hover{
	transition: all .7s;
	transform: translateY(-50px) scale(1.2);
}
.section__object--table a{
	font-size: 4rem;
	text-decoration: none;
	margin-bottom: 3rem;
	background-image: linear-gradient(20deg,rgba(131,235,52,.3),rgba(136,255,46,.3)),url(https://i.pinimg.com/236x/ec/e6/53/ece653f50c5fe29b349d7df7106b6057.jpg);
	-webkit-background-clip: text;
	color: transparent;
}
.section-object2{
	padding: 5rem;
	display: flex;
	flex-wrap: wrap;
	
}
.section-obj2{
	flex: 23.5%;
	padding: 3rem;
}
.card{
	perspective: 150rem;
	position: relative;
	margin-bottom: 1.3rem;
}
.card p{
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
	font-weight: 200;
}
.card h3{
	text-align: right;
	font-size: 3rem;
	font-weight: bold;
	color: white;
}

.card__side{
	color: white;
	height: 40rem;
	font-size: 2rem;
	transition: all .7s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: .3rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}
.card:hover .card__side--front{
	transform: rotateY(-180deg);
}
.card:hover .card__side--back{
	transform: rotateY(0);
}

.card__side--front{ 
	background-color: ghostwhite;
	color: black;
}
.card__side--back{
	position: relative;
	transform: rotateY(180deg);
	display: block;
}
.card__side--back1{
    background-image: linear-gradient(35deg,whitesmoke,rgba(59,202,227,.3)),url(https://i.pinimg.com/236x/e3/ff/9c/e3ff9c3858066103595bb9edacf85962.jpg);
	background-position: center;
	background-size: cover;
}
.card__side--back2{
    background-image: linear-gradient(35deg,rgba(91,217,173,.3) ,rgba(0,1000,5,.3)),url(https://i.pinimg.com/564x/5a/60/9e/5a609e75d9570ac1713d46d6ed9753ef.jpg);    
	background-position: center;
	background-size: cover;
}
.card__side--back3{
	background-image: linear-gradient(35deg,rgba(94,128,116,.3),rgba(0,1000,5,.3)),url(https://i.pinimg.com/564x/fa/f2/11/faf211be3215ead19141fc551a55ef9f.jpg);    
	background-repeat: no-repeat;
	background-size: cover;
}
.litle1{
	height: 10rem;
	background-image: linear-gradient(35deg,whitesmoke,rgba(59,202,227,.3)),url(https://i.pinimg.com/236x/e3/ff/9c/e3ff9c3858066103595bb9edacf85962.jpg);
	background-position: center;
}
.litle2{
	height: 10rem;
	background-image: linear-gradient(35deg,rgba(91,217,173,.3) ,rgba(0,1000,5,.3)),url(https://i.pinimg.com/564x/5a/60/9e/5a609e75d9570ac1713d46d6ed9753ef.jpg);    
	background-position: center;
	background-size: cover;
}
.litle3{
	height: 10rem;
	background-image: linear-gradient(35deg,rgba(94,128,116,.3),rgba(0,1000,5,.3)),url(https://i.pinimg.com/564x/fa/f2/11/faf211be3215ead19141fc551a55ef9f.jpg);    
	background-position: center;
}
.card__side--back span{
	display: block;
	font-size: 3rem;
	font-weight: bold;
}
.card__side--back a{
	font-size: 4rem;
	position: absolute;
	text-align: center;
	display: block;
	margin: 5rem 0;
}
.only{
	margin-top: -6rem;
	text-align: center;
}
.only a{
	background-image: linear-gradient(25deg,blue,red);
	color: white;
}
.section-story{
	position: relative;
}
.comment{
	width: 75%;
	margin: 0 auto;
	margin-bottom: 3rem;
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
	background-color: white;
	border-radius: .3rem;
	padding: 6rem;
	padding-left: 9rem;
	transform: skewX(-12deg);
	opacity: .9;
}
.story__shape{
	width: 15rem;
	height: 15rem;
	background-color: red;
	float: left;
	shape-outside: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	transform: translateX(-3rem) skewX(12deg);
	position: relative;
}
.story__text{
	transform: skewX(12deg);
}
.story__img{
	width: 100%;
	transform: scale(1.5);
	transition: all .5;
}
.story__caption{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,20%);
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	opacity: 0;
	transform: all .5s;
	backface-visibility: hidden;
}

.story:hover .story__caption{
	opacity: 1;
	transform: translate(-50%,-50%);
}

.story:hover .story__img{
	transform: scale(1.0);
	filter: blur(1px) brightness(50%);
}

.comment a{
	text-align: center;
}
.story-video{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	object-fit: cover;
}
.section-book{
	background-image: linear-gradient(135deg,rgba(20, 227, 7, 1.0),rgba(37, 196, 80, 1.0));
	padding: 15rem 10rem ;
}
.booking--sub{
	background-image: linear-gradient(105deg,rgba(237, 241, 247, .9) 0%,rgba(237, 241, 247,.9) 50%,transparent 50%),url(https://i.pinimg.com/236x/ff/f0/a8/fff0a8e0eaebf7857c7281f409e477ee.jpg);
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(95, 158, 160, .2);
	height: 50rem;
}
.booking--form{
	width: 50%;
	padding: 6rem;
}
.form h2{
	margin-bottom: 2rem;
	margin-top: -2rem;
}
.form-type:not(:last-child){
	margin-bottom: 2rem;
}
.form__input{
	font-size: 1.5rem;
	font-family: inherit;
	flood-color: inherit;
	padding: 1.5rem 2rem;
	border-radius: 2px;
	background-color: rgba(255,255,255, .5);
	border: none;
	border-bottom: 3px solid transparent;
	display: block;
	width: 100%;
	transition: all .3s;
}
.form__input:focus{
	outline: red;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
	border-bottom: 3px solid blue;
}
.form__input:focus:invalid{
	border-bottom: 3px solid red;
}
.form__input::-webkit-input-placeholder{
	color: blue;
}
.form__label{
	font-size: 1.2rem;
	font-weight: 700;
	margin-left: 2rem;
	margin-top: .7rem;
	display: block;
	transition: all .3s;
}
.form__input:placeholder-shown + .form__label{
	opacity: 0;
	visibility: hidden;
	transform: translateY(-3rem);
}
.form__btn{
	width: 49%;
	display: inline-block;
}
.form__btn--input{display: none;}
.form__btn--label{
	font-size: 1.7rem;
	cursor: pointer;
	position: relative;
	padding-left: 4.5rem;
}
.form__radio{
	height: 3rem;
	width: 3rem;
	border: 1rem solid blue;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: -.6rem;
	left: 0;
}
.form__radio::after{
	content: "";
	display: block;
	height: 1.3rem;
	width: 1.3rem;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: red;
	opacity: 0;
	transition: opacity .2s;
}
.form__btn--input:checked ~ .form__btn--label  .form__radio::after{
	opacity: 1;
}
.form-type button{
	display: block;
	background-image: linear-gradient(25deg,blue,red);
	color: white;
	margin-top: 1rem;
}
